.env
/ENV
__pycache__/
main/__pycache__
StalkerShop/__pycache__
*.pyc
media/
*/secrets.py
secrets.py
secrets.py~
StalkerShop/static/
fabfile.py
temp/
temp/*
*~
temp
/bower_components/
/.tmp/
/node_modules/
*.csv
*.sock
StalkerShop.sublime-project
StalkerShop.sublime-workspace
startupAMI.sh
.idea/
DbReplicator.sh
/.vscode/settings.json
StalkerShop/cert/*.pem
